<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>环境控制</title>
    <link rel="shortcut icon" href="../static/img/farm.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/asset/device.css"type="text/css"  rel="stylesheet"/>
    <script>
        window.addEventListener("storage", function (e) {
            if (e.newValue!=null) {
                var msg = JSON.parse(e.newValue);
                console.log(msg);
                console.log(msg.erro.miaoChuangGuanGai54_ElectromagneticValveOutput);
            }
        });
    </script>
</head>
<body>
    <div class="header">
        <nav class="navbar navbar-default " role="navigation"> 
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                        <span class="sr-only">展开导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> 
                    </button>
                    <a class="navbar-brand" href="#">智慧农业</a>
                </div>
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="nav navbar-nav">
                        <li ><a href="device.html">环境监控</a></li>
                        <li class="active"><a href="controller.html">环境控制</a></li>
                        <li><a href="#">设备管理</a></li>
                        <li><a href="#">视频监控</a></li>
                        <li><a href="#">系统设置</a></li>
                        <li><a href="#">日志记录</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="container" >
        
            <div class=" right" >
                    <br/>
                <h3>环境控制</h3>
                <div id="local" >
                    <p>本地模式，禁用远程控制</p>
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td><div class="deng">
                                    <span>外遮阳#1</span>
                                    <div><p>正转</p><img id="waiZheYang1_Forward_FeedBack" src="../static/img/灯泡.png""/></div>
                                    <div><p>反转</p><img id="waiZheYang1_Reverse_FeedBack"src="../static/img/灯泡.png""/></div>
                                </div></td>
                                <td><div class="deng">
                                    <span>&nbsp;风机#1</span>
                                    <div><p>开</p><img id="fengJi1_FeedBack" src="../static/img/灯泡.png"/></div>
                                </div></td>
                                <td><div class="deng">
                                    <span>肥料搅拌</span>
                                    <div><p>开</p><img id="shuiPeiShuiBeng_FeedBack" src="../static/img/灯泡.png"/></div>
                                </div></td>
                            </tr>
                            <tr>
                                <td><div class="deng">
                                    <span>外遮阳#2</span>
                                    <div><p>正转</p><img id="waiZheYang2_Forward_FeedBack" src="../static/img/灯泡.png"/></div>
                                    <div><p>反转</p><img id="waiZheYang2_Reverse_FeedBack" src="../static/img/灯泡.png"/></div>
                                </div></td>
                                <td><div class="deng">
                                    <span>&nbsp;风机#2</span>
                                    <div><p>开关</p><img id="fengJi2_FeedBack" src="../static/img/灯泡.png"/></div>
                                </div></td>
                                <td><div class="deng">
                                    <span>&nbsp;施肥泵</span>
                                    <div><p>开关</p><img id="shiFeiBeng_FeedBack" src="../static/img/灯泡.png"/></div>
                                </div></td>
                            </tr>
                            <tr>
                                <td><div class="deng">
                                    <span>内遮阳#1</span>
                                    <div><p>正转</p><img id="neiZheYang1_Forward_FeedBack" src="../static/img/灯泡.png"/></div>
                                    <div><p>反转</p><img id="neiZheYang1_Reverse_FeedBack" src="../static/img/灯泡.png"/></div>
                                </div></td>
                                <td> <div class="deng">
                                    <span>水帘补水</span>
                                    <div><p>开关</p><img id="shuiLianBuShui_ElectromagneticValveOutput" src="../static/img/灯泡.png"/></div>
                                </div></td>
                                <td><div class="deng">
                                    <span> &nbsp;照明#1</span>
                                    <div><p>开关</p><img id="zhaoMing1_FeedBack" src="../static/img/灯泡.png"/></div>
                                </div></td>
                            </tr>
                            
                            <tr>
                                <td><div class="deng">
                                    <span>内遮阳#2</span>
                                    <div><p>正转</p><img id="neiZheYang2_Forward_FeedBack" src="../static/img/灯泡.png"/></div>
                                    <div><p>反转</p><img id="neiZheYang2_Reverse_FeedBack" src="../static/img/灯泡.png"/></div>
                                </div></td>
                                <td><div class="deng">
                                    <span>水池补水</span>
                                    <div><p>开关</p><img id="shuiChiBuShui_ElectromagneticValveOutput" src="../static/img/灯泡.png"/></div>
                                </div></td>
                                <td><div class="deng">
                                    <span> &nbsp;照明#2</span>
                                    <div><p>开关</p><img id="zhaoMing2_FeedBack" src="../static/img/灯泡.png"/></div>
                                </div></td>
                            </tr>
                            
                            <tr>
                                <td><div class="deng">
                                    <span> &nbsp;顶通风</span>
                                    <div><p>正转</p><img id="dingTongFeng_Forward_FeedBack" src="../static/img/灯泡.png"/></div>
                                    <div><p>反转</p><img id="dingTongFeng_Reverse_FeedBack"src="../static/img/灯泡.png"/></div>
                                </div></td>
                                <td><div class="deng">
                                    <span>灌溉水泵</span>
                                    <div><p>开关</p><img id="guanGaiShuiBeng_FeedBack" src="../static/img/灯泡.png"/></div>
                                </div></td>
                                <td><div class="deng">
                                    <span> &nbsp;增氧机 </span>
                                    <div><p>开关</p><img id="zengYangJi_FeedBack" src="../static/img/灯泡.png"/></div>
                                </div></td>
                            </tr>
    
                            <tr>
                                <td><div class="deng">
                                    <span> 苗床灌溉</span>
                                    <div></div><a  th:href="@{/miaochuang}">详情</a></div>
                                </div></td>
                                <td><div class="deng">
                                    <span>&nbsp;热风机</span>
                                    <div><p>开关</p><img id="reFengJi_FeedBack" src="../static/img/灯泡.png"/></div>
                                </div></td>
                                <td><div class="deng">
                                    <span> &nbsp;LED &nbsp;</span>
                                    <div><p>开关</p><img id="led_FeedBack" src="../static/img/灯泡.png"/></div>
                                </div></td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
                <p id="local" hidden>本地模式，禁用远程控制</p>
                <div id="kongzhi">
                    <div class="kongzhi">
                        <div><a href="controller1.html"><img src="../static/img/电动遮阳.png"/><p>外遮阳</p></a></div>
                        <div><a href="controller2.html"><img src="../static/img/电动遮阳.png"/><p>内遮阳</p></a></div>
                        <div><a href="controller3.html"><img src="../static/img/通风卷帘.png"/><p>顶通风</p></a></div>
                        <div><a href="controller4.html"><img src="../static/img/风机.png"/><p>风机</p></a></div>
                        <div><a href="controller6.html"><img src="../static/img/补水泵.png"/><p>水帘补水</p></a></div>
                    </div>
                    <div class="kongzhi">
                        
                        
                        <div><a href="controller7.html"><img src="../static/img/水池.png"/><p>水池补水</p></a></div>
                        <div><a href="controller8.html"><img src="../static/img/水泵.png"/><p>灌溉水泵</p></a></div>
                        <div><a href="controller9.html"><img src="../static/img/水泵.png"/><p>肥料搅拌</p></a></div>
                        <div><a href="controller10.html"><img src="../static/img/施肥.png"/><p>施肥泵</p></a></div>
                        <div><a href="controller11.html"><img src="../static/img/增氧.png"/><p>增氧机</p></a></div>
                    </div>
                    <div class="kongzhi">
                        
                        
                        <div><a href="controller12.html"><img src="../static/img/照明.png"/><p>照明</p></a></div>
                        <div><a href="controller13.html"><img src="../static/img/灌溉作业管理.png"/><p>苗床灌溉</p></a></div>
                    
                        
                        <div><a href="controller14.html"><img src="../static/img/烧烤 热风-01.png"/><p>热风机</p></a></div>
                        <div><a href="controller15.html"><img src="../static/img/显示屏.png"/><p>显示屏</p></a></div>
                        <div><a href="#"><img src="../static/img/更多.png"/><p></p></a></div>
                        
                    </div>
                </div>
            </div>
        </div>

    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/js/remote.js"></script>
</body>
</html>