<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    .left{background-color:#F7F7F7;margin: 10px;color:#6F6F6F;}
    .img{margin-left: 10%}
    .qixiangzhan{border:1px solid #000;margin: 10%;}
    .qixiangzhan img{width: 50px;}
    .pengnei img{width: 50px;}
    .left div{display:inline-block;margin-left: 20px;}
    .left h4{text-align: center}
    </style>
</head>
<body>
    <div class="header">
        <nav class="navbar navbar-default " role="navigation"> 
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                        <span class="sr-only">展开导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> 
                    </button>
                    <a class="navbar-brand" href="#">智慧农业</a>
                </div>
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">设备监控</a></li>
                        <li><a href="#">设备管理</a></li>
                        <li><a href="#">视频监控</a></li>
                        <li><a href="#">系统设置</a></li>
                        <li><a href="#">日志记录</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="container">
        <div class="col-sm-6 left" >
        <h3>环境监控</h3>
        <p class="img"><img src="../static/img/shili.jpg"/></p>
        <div class="pengnei">
            <h4>棚内环境</h4>
            <div>
            <div ><img src="../static/img/温度.png"/><p>空气温度1：</p></div>
            <div ><img src="../static/img/湿度.png"/><p>空气湿度1：</p></div>
            <div ><img src="../static/img/温度.png"/><p>空气温度2：</p></div>
            <div ><img src="../static/img/湿度.png"/><p>空气湿度2：</p></div>
            <div ><img src="../static/img/温度.png"/><p>空气温度3：</p></div>
            <div ><img src="../static/img/湿度.png"/><p>空气湿度3：</p></div>
            <div ><img src="../static/img/温度.png"/><p>空气温度4：</p></div>
            <div ><img src="../static/img/湿度.png"/><p>空气湿度4：</p></div>
            </div>
            <div>
            <div ><img src="../static/img/湿度.png"/><p>土壤湿度1：</p></div>
            <div ><img src="../static/img/湿度.png"/><p>土壤湿度2：</p></div>
            <div ><img src="../static/img/湿度.png"/><p>土壤湿度3：</p></div>
            <div ><img src="../static/img/湿度.png"/><p>土壤湿度4：</p></div>
            </div>
            <div>
            <div ><img src="../static/img/光照度传感器.png"/><p>光照：</p></div>
            <div ><img src="../static/img/水温.png"/><p>水温：</p></div>
            <div ><img src="../static/img/EC.png"/><p>EC值：</p></div>
            <div ><img src="../static/img/co2.png"/><p>二氧化碳：</p></div>
            </div>
        </div>
        
        <div class="qixiangzhan">
            <h4 class="title">小型气象站</h4>
            <div ><img src="../static/img/光照度传感器.png"/><p>光照：</p></div>
            <div ><img src="../static/img/风力.png"/><p>风力：</p></div>
            <div ><img src="../static/img/降水.png"/><p>降水：</p></div>
            <div ><img src="../static/img/温度.png"/><p>温度：</p></div>
            <div ><img src="../static/img/湿度.png"/><p>湿度：</p></div>
        </div>
        </div>
        <div class="col-sm-6 right " >
        </div>
    </div>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>