<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home Title</title>
    <link rel="shortcut icon" href="../static/img/farm.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/asset/device.css"type="text/css"  rel="stylesheet"/>
</head>
<body>
    <div class="header">
        <nav class="navbar navbar-default " role="navigation"> 
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                        <span class="sr-only">展开导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> 
                    </button>
                    <a class="navbar-brand" href="#">智慧农业</a>
                </div>
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="device.html">环境监控</a></li>
                        <li><a href="controller.html">环境控制</a></li>
                        <li><a href="#">设备管理</a></li>
                        <li><a th:href="@{/videomonitor}" target="_blank">视频监控</a></li>
                        <li><a href="#">系统设置</a></li>
                        <li><a href="#">日志记录</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="container" >
        
            <div class=" left" >
            <br/>
            <h3>环境监控</h3>
            <div class="pengnei">
                <h4>棚内环境</h4>
                <div class="huanjing">
                    <div ><img src="../static/img/温度.png"/><p>温度1：<span id="1b64airTemp"></span>℃</p></div>
                    <div ><img src="../static/img/湿度.png"/><p>湿度1：<span id="1b64airHumidity"></span></p></div>
                    <div ><img src="../static/img/温度.png"/><p>温度2：<span id="0003airTemp"></span>℃</p></div>
                    <div ><img src="../static/img/湿度.png"/><p>湿度2：<span id="0003airHumidity"></span></p></div>               
                </div>
                <div class="huanjing">
                    <div ><img src="../static/img/温度.png"/><p>温度3：<span id="0004airTemp"></span>℃</p></div>  
                    <div ><img src="../static/img/湿度.png"/><p>湿度3：<span id="0004airHumidity"></span></p></div>          
                    <div ><img src="../static/img/温度.png"/><p>温度4：<span id="0005airTemp"></span>℃</p></div>
                    <div ><img src="../static/img/湿度.png"/><p>湿度4：<span id="0005airHumidity"></span></p></div>
                </div>
                <div class="huanjing">
                    <div ><img src="../static/img/温度.png"/><p>温度5：<span id="0001airTemp"></span>℃</p></div>
                    <div ><img src="../static/img/湿度.png"/><p>湿度5：<span id="0001airHumidity"></span></p></div>
                </div>
                <div class="huanjing">
                    <div ><img src="../static/img/光照度传感器.png"/><p>光照：<span id="1b64intensity"></span>klux</p></div>
                    <div ><img src="../static/img/co2.png"/><p>二氧化碳：<span id="1b64concentration"></span>PPM</p></div>
                    <div ><img src="../static/img/水温.png"/><p>水温：</p><span id="0002waterTemp">℃</span></div>
                    <div ><img src="../static/img/EC.png"/><p>EC值：</p><span></span></div>
                </div>
                <div class="huanjing">
                    <div ><img src="../static/img/湿度.png"/><p>土壤湿度1：<span id="1b64soilHumidity"></span></p></div>
                    <div ><img src="../static/img/湿度.png"/><p>土壤湿度2：<span id="0003soilHumidity"></span></p></div>
                    <div ><img src="../static/img/湿度.png"/><p>土壤湿度3：<span id="0004soilHumidity"></span></p></div>
                    <div ><img src="../static/img/湿度.png"/><p>土壤湿度4：<span id="0005soilHumidity"></span></p></div>
                </div>
                
            </div>
            
            <div class="qixiangzhan">
                <h4 class="title">小型气象站</h4>
                <div ><img src="../static/img/光照度传感器.png"/><p>光照：</p><span></span></div>
                <div ><img src="../static/img/风力.png"/><p>风力：</p><span></span></div>
                <div ><img src="../static/img/降水.png"/><p>降水：</p><span></span></div>
                <div ><img src="../static/img/温度.png"/><p>温度：</p><span></span></div>
                <div ><img src="../static/img/湿度.png"/><p>湿度：</p><span></span></div>
            </div>
            </div>
            
        </div>

    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/js/device-ws.js"></script>
</body>
</html>